.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    position: relative;
    background-color: #282c34!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

header {
    height: 250px;
    display: flex;
    justify-content: center;
}

header h2 {
    position: relative;
    top: -30px;
}

.content {
    width: 900px;
    margin: 0 auto;
    position: relative;
    top: -57px;
}

.stockTable {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.stockTable div {
    flex-grow: 1
}

.stockTable .chart-cell {
    position: relative;
}

.MuiAppBar-colorPrimary-8 {
    background-color: #A51890 !important;
}
.graph-wrapper{

}
.popup-graph {
    position: absolute;
    right: 115px;
    top: 0;
    width: 400px;
    z-index: 1;
    background: white;
    text-align: center;
    min-height: 300px;
    align-items: center;
    justify-content: center;
}

.loader {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-icon {
    height: 30px;
    width: 40px;
}

.chart-icon svg {
    display: block;
    cursor: pointer;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
